*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #C6EBC5;
    font-family:  sans-serif ;
}

.rakkas-regular {
    font-family: "Rakkas", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  #me{
    background-color: bisque;
    font: 200px;
  }
h1,h2,h3{
    text-align: center;
}

.bold{
    font-weight: 600;
    font-size: 60px;
    
}

  
table{
    background-color: #9CAFAA;
    color: #fff;
    padding: 10px;
}

.main-content{
    width: 70%;
    float: left;
    padding: 10px;
}

.links {
    border: 5px solid rgb(54, 95, 67); /*For debugging*/
    display: flex;
    justify-content: flex-end;
}

.login {
    margin-left: 20px;
}

.menu {
    display: flex;
    justify-content: space-between;
}
