*{
    margin: 0;
    padding: 0;
}
body{
    font-family:  "Rakkas" ;
    background-color: #7FC7D9;
}
.rakkas-regular {
    font-family: "Rakkas", serif;
    font-weight: 600;
    font-style: normal;
    color: #164863;
}
.rakkas-regular-2 {
    font-family: "Rakkas", serif;
    font-weight: 600;
    font-style: normal;
    color: #164863;
    text-align: center;
}
  #me{
    font: 200px;
    font-size: 40px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  a{
 text-decoration: none;
  }
  h1{
    text-align: center;
    font-size: 60px;
    -webkit-text-fill-color: #427D9D;
    -webkit-text-stroke: 1px #164863;

}
.bold{
    font-weight: 600;
    font-size: 30px;
    
}
table{
    background-color: #9CAFAA;
    color: #fff;
    padding: 10px;
}
.main-content{
    width: 70%;
    float: left;
    padding: 10px;
}
.links {
    border: 5px solid rgb(54, 95, 67); /*For debugging*/
    display: flex;
    justify-content: flex-end;
}
.flex-container{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    height: 600px;

}
.flex-item{
    display: flex;
    flex: 0 1 auto;
    align-self: center;
    order: 2;
    background-image: url(images/item1.jpg);
    background-attachment: local;
    background-size: cover;
    width: 20%;
    height: 60%;
    font-size: 40px;
   justify-content: center;
    align-items: center;

}
.arka-plan{
    position: absolute;
    top: 0;
    z-index: -10;
    height: 100vh;
    overflow: hidden;
}
.iletisim{
    display: flex;
    width: 900px;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}
.instagram{
    width: 80px;
}
.instagram img{
    max-width: 100%;
}
.photo-grid-container{
    display: flex;
    justify-content: center;
}
.photo-grid{
    display: flex;
    width: 900px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.photo-grid-item img{
    width: 300px;
}
.photo-grid-item-2 img{
    width: 500px;
}
button{
    font-size: 20px;
    background-color: #427D9D;
    color: #164863;
    border-radius: 15px;
    cursor: pointer;
}
.photo-grid-2{
    display: flex;
    width: 100%;
    justify-content: inherit;
    flex-wrap: wrap;
}
#warning{
    font-family: "Rakkas", serif;
    font-size: 40px;
    font-style: normal;
    color: #164863;
    text-align: center;
}